.container {
  margin: 0 auto;
  max-width: 1920px;
  padding: 40px 80px 0;

  @media (min-width: $small-min-width) and (max-width: $small-max-width) {
    max-width: 320px;
    padding: 20px 20px 0;
  }
  
  @media (min-width: $medium-min-width) and (max-width: $medium-max-width) {
    max-width: 1200px;
    padding: 40px 40px 0;
  }
}